<html>
    <head>
        <title>Validations with DB</title>
        <!-- CSS -->
        <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    </head>
    <body>

        {% with f_message = get_flashed_messages(with_categories=true) %}
            {% if f_message %}
                {% for category, message in f_message %}
                    <p class="{{ category }}">{{ message }}</p>
                {% endfor %}
            {% endif %}
        {% endwith %}

        <form action="/add_user" method="POST">
            <label for="email">Email</label>
            <input name="email" type="text"><br>
            <input type="submit" value="Submit" class="add_btn">
        </form>

    </body>
</html>
