html, body {
    padding: 0;
    margin: 0;
    background-color: silver;
}

/* Layout */
#world {
    width: 50%;
}
.row {
    line-height: 0;
}
.wall {
    background-color: red;
    display: inline-block;
    height: 40px;
    width: 40px;
}
.blank {
    background-color: blue;
    display: inline-block;
    height: 40px;
    width: 40px;
}

/* Components */
.sushi {
    background-color: magenta;
    display: inline-block;
    height: 40px;
    width: 40px;
    background-image: url('../img/sushi.png');
    background-size: contain;
}
.onigiri {
    background-color: limegreen;
    display: inline-block;
    height: 40px;
    width: 40px;
    background-image: url('../img/onigiri.png');
    background-size: contain;
}
#ninja-man {
    background-color: orange;
    display: inline-block;
    height: 40px;
    width: 40px;
    background-image: url('../img/ninja.gif');
    background-size: contain;
    position: absolute;
    top: 40px;
    left: 40px;
}

/* Variables */
.h1-main {
    color: #fff;
    padding: 20px;
    margin: 0;
}
