<html>
    <head>
        <title>Dojo Fruit Store!</title>
        <!-- CSS -->
        <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    </head>
    <body>
        <div class="container">

            <h1>Dojo Fruit Store</h1>
            <div class="form_info">
                <p class="bold underline">What would you like to buy?</p><br>

                <form action="/checkout" method="POST" class="bold">

                    <div class="row form_1 border-LR">
                        <div class="label border-R">
                            <p>Fruit Name</p>
                        </div>
                        <div class="input">
                            <p>Quantity</p>
                        </div>
                    </div>

                    <div class="row form_2 border-LR">
                        <div class="label border-R">
                            <label for="strawberry">Strawberry:</label>
                        </div>
                        <div class="input">
                            <select name="strawberry">
                                <option value="0">0</option>
                                <option value="1">1</option>
                                <option value="2">2</option>
                                <option value="3">3</option>
                                <option value="4">4</option>
                                <option value="5">5</option>
                                <option value="6">6</option>
                            </select>
                        </div>
                    </div>

                    <div class="row form_3 border-LR">
                        <div class="label border-R">
                            <label for="raspberry">Raspberry:</label>
                        </div>
                        <div class="input">
                            <select name="raspberry">
                                <option value="0">0</option>
                                <option value="1">1</option>
                                <option value="2">2</option>
                                <option value="3">3</option>
                                <option value="4">4</option>
                                <option value="5">5</option>
                                <option value="6">6</option>
                            </select>
                        </div>
                    </div>

                    <div class="row form_2 border-LR border-B">
                        <div class="label border-R">
                            <label for="apple">Apple:</label>
                        </div>
                        <div class="input">
                            <select name="apple">
                                <option value="0">0</option>
                                <option value="1">1</option>
                                <option value="2">2</option>
                                <option value="3">3</option>
                                <option value="4">4</option>
                                <option value="5">5</option>
                                <option value="6">6</option>
                            </select>
                        </div>
                    </div><br>
                    
                    <p class="underline">Your Information</p><br>

                    <div class="row">
                        <div class="label">
                            <label for="name">Name:</label>
                        </div>
                        <div class="input">
                            <input name="name" type="text">
                        </div>
                    </div>

                    <div class="row">
                        <div class="label">
                            <label for="student_id">Your Student ID:</label>
                        </div>
                        <div class="input">
                            <input name="student_id" type="text">
                        </div>
                    </div>
                    <!-- Submit -->
                    <button type="submit" class="btn-style">Buy</button>
                </form>
            </div>
            <div class="dojo_message">
                <p class="bold margin-p">Welcome to Dojo Fruit Store</p>
                <p class="bold margin-p">Your dojo decided to buy fruits for all the students! Please use this app to tell us what you like to have! Once we get your order, we'll charge your student account automatically.</p>
                <p class="bold">Dojo Fruit Store is proudly built using Flask</p>
            </div>
        </div>
    </body>
</html>
