<html>
    <head>
        <title>Checkerboard</title>
        <style>
            .space {padding: 65px;}
            .red {background-color: #ff0000;}
            .black {background-color: #000;}
        </style>
    </head>
    <body>
        <table>
            <tr>
                <td class="space red"></td>
                <td class="space black"></td>
                <td class="space red"></td>
                <td class="space black"></td>
                <td class="space red"></td>
                <td class="space black"></td>
                <td class="space red"></td>
                <td class="space black"></td>
            </tr>
            <tr>
                <td class="space black"></td>
                <td class="space red"></td>
                <td class="space black"></td>
                <td class="space red"></td>
                <td class="space black"></td>
                <td class="space red"></td>
                <td class="space black"></td>
                <td class="space red"></td>
            </tr>
            <tr>
                <td class="space red"></td>
                <td class="space black"></td>
                <td class="space red"></td>
                <td class="space black"></td>
                <td class="space red"></td>
                <td class="space black"></td>
                <td class="space red"></td>
                <td class="space black"></td>
            </tr>
            <tr>
                <td class="space black"></td>
                <td class="space red"></td>
                <td class="space black"></td>
                <td class="space red"></td>
                <td class="space black"></td>
                <td class="space red"></td>
                <td class="space black"></td>
                <td class="space red"></td>
            </tr>
            <tr>
                <td class="space red"></td>
                <td class="space black"></td>
                <td class="space red"></td>
                <td class="space black"></td>
                <td class="space red"></td>
                <td class="space black"></td>
                <td class="space red"></td>
                <td class="space black"></td>
            </tr>
            <tr>
                <td class="space black"></td>
                <td class="space red"></td>
                <td class="space black"></td>
                <td class="space red"></td>
                <td class="space black"></td>
                <td class="space red"></td>
                <td class="space black"></td>
                <td class="space red"></td>
            </tr>
            <tr>
                <td class="space red"></td>
                <td class="space black"></td>
                <td class="space red"></td>
                <td class="space black"></td>
                <td class="space red"></td>
                <td class="space black"></td>
                <td class="space red"></td>
                <td class="space black"></td>
            </tr>
            <tr>
                <td class="space black"></td>
                <td class="space red"></td>
                <td class="space black"></td>
                <td class="space red"></td>
                <td class="space black"></td>
                <td class="space red"></td>
                <td class="space black"></td>
                <td class="space red"></td>
            </tr>
        </table>
    </body>
</html>
